*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
}
.container .heading {
    width: 50%;
    padding-bottom: 50px;
}
.container .heading h3{
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: solid #222;
}
.container .heading h3 span{
    font-weight: 100;
}
.container .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
}
.container .box .island {
    display: flex;
    flex-direction: column;
    width: 32.5%;
}
.container .box .island img {
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
}
.container .box .island img:hover {
    transform: scale(1.5);

}
.container .btn {
    margin: 40px 0 70px 0;
    background-color: #e4e650; 
    padding: 15px 40px;
    border-radius: 5px;
}
.container .btn a{
    color: black;
    font-size: 1,2em;
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 3px;
}
@media only screen and (max-width:769px) {
    .container .box {
        flex-direction: column;
    }
    .container .box .island {
        width: 100%;
    }
}
@media only screen and (max-width:643px) {
    .container .heading {
        width: 100%;
    }
    .container .heading h3{
        font-size: 1em;
    }
}
#navbar-container {
    position: sticky; 
    top: 0px;
    width: 100%;
    background-color: #E5DF88;
}
/* FOOTER */
footer {
    margin-top: 50px;
    text-align: center;
    background-color: #E5DF88;
    text-align: center;
    padding: 20px 0;
    color: #fff;
    bottom: 0;
    width: 100%;
    height: 60px;
}
/* FOOTER END */

/* NAVBAR */
#navbar-container {
    position: sticky; 
    top: 0px;
    width: 100%;
}

.jj-image{
    height: 100px;
    width: 100px;
}

.header-nav {
    background-color: #E5DF88;
}

.logo{
    text-align: left;
}

.search-container{
    text-align: right;
}

.nav-link {
    color: #FFFF !important;
}
/* NAVBAR END */    